node_modules
client/node_modules
server/node_modules
ml_service/__pycache__
ml_service/outputs/*
ml_service/uploads/*
server/uploads/*
client/dist
server/dist
.git
.env
Dockerfile
docker-compose.yml
# Keep our model weights!
!ml_service/yolov8n.pt
!yolov8n.pt
